body{
    background-image: url("images/CoffeeBeanBackground.jpg");
}

.title{
    background-image: url("/images/paperBackground01.jpeg");
    height: 20%;
    font-family: Chalkduster;
    font-size: 4em;
    width: 60%;
    text-align: center;
}

.theStuff{
    background-image: url("/images/paperBackground01.jpeg");

    border: black 8px solid;
}

.theApps{
;
}


